*.idea

tapo-service/t.py

registry-service/url.db.lock

registry-service/url.db

client/android/HomeAutomation/app/google-services.json

services/notification-service/service-account-file.json

service-account-file.json

services/tradfri-service/config.json
